# 96 * 1.75 = 168
xrandr --dpi 168

# 2 * 0.875 = 1.75
export GDK_SCALE=2
export GDK_DPI_SCALE=0.875

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

export QT_QPA_PLATFORMTHEME=gtk2

if [ -n "$DESKTOP_SESSION" ]; then
  eval $(gnome-keyring-daemon --start)
  export SSH_AUTH_SOCK
fi
